#nav{
  background-color: rgba(219, 223, 35, 0.822);
  margin-bottom: 1%;
}
#items{
  margin-left: 50%;
}
.navbar-brand{
  margin-left: 1%;
  margin-right: 4%;
}
.ico{
  margin-right: 3%;
}
.nav-link{
  font-weight: 350;
}
